<h1>New Computer</h1>

<%= form_for(@computer) do |t| %>
  <%= t.label(:name) %>
  <%= t.text_field(:name) %>
  <br />
  <%= t.label(:owner) %>
  <%= t.text_field(:owner) %>
  <br />
  <%= t.submit %>
<% end %>
