<h1>New Computer</h1>

<%= form_for(@computer) do |t| %>
  <%= t.label(:name) %>
  <%= t.text_field(:name) %>
  <br />
  <%= t.label(:account) %>
  <%= t.collection_select :account, Account.all, :id, :name, prompt: true %>
  <br />
  <%= t.label "Part 1" %>
  <%= collection_select nil, :part_2, Part.all, :id, :to_s, prompt: true %>
  <br />
  <%= t.label "Part 2" %>
  <%= collection_select nil, :part_2, Part.all, :id, :to_s, prompt: true %>
  <br />
  <%= t.label "Part 3" %>
  <%= collection_select nil, :part_2, Part.all, :id, :to_s, prompt: true %>
  <br />
  <%= t.submit %>
<% end %>
