<h1>New Computer</h1>

<% if @computer.errors.any? %>
  <div id="error_explanation">
  <h2><%= "#{pluralize(@computer.errors.count, "error")}" %> prohibited this computer from being saved:</h2>
  <ul>
    <% @computer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>


<%= form_for(@computer) do |t| %>
  <%= t.label(:name) %>
  <%= t.text_field(:name) %>
  <br />
  <%= t.label(:account) %>
  <%= t.collection_select :account, Account.all, :id, :name, prompt: true %>
  <br />
  <%= t.label "part_1", "Part 1" %>
  <%= select_tag "computer[parts][]", options_for_select(Part.all.map{|part| [part.to_s, part.id]}), id: "computer_part_1", include_blank: true %>
  <br />
  <%= t.label "part_2", "Part 2" %>
  <%= select_tag "computer[parts][]", options_for_select(Part.all.map{|part| [part.to_s, part.id]}), id: "computer_part_2", include_blank: true %>
  <br />
  <%= t.label "part_3", "Part 3" %>
  <%= select_tag "computer[parts][]", options_for_select(Part.all.map{|part| [part.to_s, part.id]}), id: "computer_part_3", include_blank: true %>
  <br />
  <%= t.submit %>
<% end %>
