<h1>New Computer</h1>

<%= form_for(@computer) do |t| %>
  <%= t.label(:name) %>
  <%= t.text_field(:name) %>
  <br />
  <%= t.label(:account) %>
  <%= t.collection_select :account, Account.all, :id, :name, prompt: true %>
  <br />
  <%= t.label :part_1 %>
  <%= select_tag "computer[part_1]", options_for_select(Part.all.map{|part| [part.to_s, part.id]}) %>
  <br />
  <%= t.label :part_2 %>
  <%= select_tag "computer[part_2]", options_for_select(Part.all.map{|part| [part.to_s, part.id]}) %>
  <br />
  <%= t.label :part_3 %>
  <%= select_tag "computer[part_3]", options_for_select(Part.all.map{|part| [part.to_s, part.id]}) %>
  <br />
  <%= t.submit %>
<% end %>
