<h1>New Computer</h1>

<%= form_for(@computer) do |t| %>
  <%= t.label(:name) %>
  <%= t.text_field(:name) %>
  <br />
  <%= t.label(:owner) %>
  <%= t.text_field(:owner) %>
  <br />
  <%= t.collection_select :account, Account.all, :id, :name, prompt: true %>
  <br />
  <%= collection_select nil, :part_1, Part.all, :id, :name, prompt: true %>
  <br />
  <%= collection_select nil, :part_2, Part.all, :id, :name, prompt: true %>
  <br />
  <%= collection_select nil, :part_3, Part.all, :id, :name, prompt: true %>
  <br />
  <%= t.submit %>
<% end %>
